#result {
  height: 75px;
  background-color: #000000;
  color: #ffffff;
  font-size: 52px;
  text-align: end;
}

.function-btn {
  background-color: #df974c;
}

.wrapper {
  width: 400px;
  border: 1px solid black;
}

button {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

#divide {
  display: flex;
  flex-direction: row;
}

#divide > button:first-child {
  width: 200px;
}

#multiply {
  display: flex;
  flex-direction: row;
}

#subtract {
  display: flex;
  flex-direction: row;
}

#add {
  display: flex;
  flex-direction: row;
}

#equals {
  display: flex;
  flex-direction: row;
}

#equals > button:first-child {
  width: 300px;
}
